body {
    background: linear-gradient(to right, #8fedca, #8fedca);
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

form {
    background: linear-gradient(to right, #f2f6f4, #f1f1f1);
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    text-align: center;
    width: 400px;
}

h2 {
    font-size: 24px;
    text-align: left;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 20px;
}

label {
    color: #333;
    font-size: 14px;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    font-size: 14px;
}

textarea {
    resize: vertical;
    height: 100px;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.radio-group label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.radio-group input[type="radio"] {
    margin-right: 10px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.checkbox-group label {
    margin-left: 48px;
    font-size: 39px;
}

.btn {
    background-color: #42c8a4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 39px;
    font-size: 16px;
    cursor: pointer;
    width: 70%;
}

.btn:hover {
    background-color: #3ab394;
}